@model BiraFit.ViewModel.NachrichtViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meine Chats</h2>

@{
    int counter = 0;
    foreach (var item in @Model.Konversationen)
    {
        <p>Konversation:
            <a href="Nachricht/Chat/@item.Id">@Model.LastMessages[counter]</a>
            Image: @Model.ProfileImages[counter]
        </p>
        counter++;
    }
}






