@{ 
    var test = "Edit/" + ViewBag.id;
}
@if (ViewBag.id != null)
{
    <li>@Html.ActionLink("Bedarf anpassen", (string)test, "Bedarf", routeValues: null, htmlAttributes: new { id = "navlink" })</li>
}
else
{
    <li>@Html.ActionLink("Neuen Bedarf", "New", "Bedarf", routeValues: null, htmlAttributes: new { id = "navlink" })</li>
}