@model List<BiraFit.ViewModel.BedarfViewModel>

@{
    ViewBag.Title = "BiraFit";
}

@if (Model != null)
{
    <body id="mainBack">
        @Html.Partial("~/views/bedarf/index.cshtml", Model)
    </body>
}




