################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BiraFit/Resources/AccountPicture/cbb2c8c5-5c10-4767-9927-c2e060774f9961820d50-bb41-486c-ab10-c5d924eeca19randy3.jpg
