@model BiraFit.Models.ShowViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Show", "Manage"))
{


    <div class="form-group">
        <label for="oldpw">Vorname</label>
        @Html.EditorFor(model => model.Vorname)
    </div>

}


