
@{
    ViewBag.Title = "UploadFile";
}
@using (Html.BeginForm("UploadFile", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="container" id="boxform">
            <div id="popUpBox" class="col-md-4 col-md-offset-4 modal-content">
                <div class="panel panel-info" id="innerbox">
                    <div class="panel-heading" id="boxHead">
                        <button type="button" class="close" id="closeBtn" data-dismiss="modal" aria-hidden="true">×</button>
                        <div class="panel-title">
                            <h4>Profilbild ändern</h4>
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <label class="btn-bs-file btn">
                                        @Html.TextBox("file", "", new { @type = "file" })
                                    </label>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" id="footerBox">
                            <button type="submit" id="normalButton" class="btn btn-block">Bild hochladen</button>
                    </div>
                </div>
            </div>
        </div>

        </div>
        }
