#menuBar {
    border-bottom: 3px solid;
    border-color: orange;
    background-color: black;
}
#navbarDidCollapse {
    border-color: orange;
}

#myBurgerButton {
    color: orange;
    border-color: orange;
    background-color: black;
}
    #myBurgerButton:hover {
        box-shadow: 0px 0px 2px 2px orange;
    }

#burgerLine {
    background-color: orange !important;
}

#mybox {
    margin-top: 50px;
    border: 2px solid orange;
    background: black;
    opacity: 0.9;
}
#popUpBox {
    margin-top: 100px;
    border: 2px solid orange;
    background: black;
}
#chatbox {
    margin-top: 50px;
    border: none;
}

#chatbox #boxbody {
    background: black;
    opacity: 0.9;
}

#footerBox {
    background: none;
    border-top: 2px solid orange;
}

#innerbox {
    background: none;
    border: none;
}

#boxHead {
    background: none;
    border-bottom: 2px solid orange;
    color: orange
}

#boxForm {
    padding-top: 5px;
    background: none;
    color: orange;
}
#accountBox {
    background: none;
    color: orange;
}

#closeBtn {
    color:floralwhite;
}
#boxbody {
    background: none;
}

#descriptionText { color: white !important; }

#loginButton {
    color: orange;
    background: none;
    border: 2px solid orange;
}

#loginButton:hover { box-shadow: 0px 0px 3px 3px orange; }


#bewerbButton {
    color: orange;
    background: none;
    border: 2px solid orange;
    height: 50px;
}

#bewerbButton:hover { box-shadow: 0px 0px 3px 3px orange; }

#editButton {
    color: orange;
    background: none;
    border: 2px solid orange;
}

#editButton:hover { box-shadow: 0px 0px 3px 3px orange; }

#delButton {
    color: red;
    background: none;
    border: 2px solid red;
}

#delAngButton {
    color: red;
    background: none;
    border: 2px solid red;
    margin-top: 35px;
}
    #delButton:hover, #delAngButton:hover {
        box-shadow: 0px 0px 3px 3px red;
    }

#acceptButton {
    color: green;
    background: none;
    border: 2px solid green;
}

    #acceptButton:hover {
        box-shadow: 0px 0px 3px 3px green;
    }

#profileImg {
    width: 100px;
    height: 100px;
}

#detailProfileImg {
    width: 200px;
    height: 200px;
    width: auto;
    height: auto;
}

.glyphicon glyphicon-off {
    color: orange;
}

#angebotButton {
    color: orange;
    background: none;
    border-color: orange
}

#usrName {
    color: orange !important;
    padding: 5px 5px 5px 5px;
}

.fa fa-reply {
    color: orange;
    background: none;
    border-color: orange
}

#chatHim {
    border: solid;
    border-color: lightslategray;
    background-color: gray;
}

#chatMe {
    border: solid;
    border-color: lawngreen;
    background-color: greenyellow;
}

#chatList {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

#chatList * { color: white; }

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.chat li.left .chat-body { margin-left: 60px; }


.chat li.right .chat-body { margin-right: 60px; }

.chat li .chat-body p {
    margin: 0;
    color: black;
}

.modal .slidedown .glyphicon, .chat .glyphicon { margin-right: 5px; }

#scrollBody {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
}


.form-group .form-control {
    width: 100%;
    max-width: none !important;
}

#chatList { color: orange; }

#chatList:hover {
    text-decoration: none;
    box-shadow: 0px 0px 3px 3px orange;
}

#titleLink { color: orange; }

#titleLink:hover, #titleLink:focus {
    text-decoration: none;
    color: orangered;
}

#link, #registerLink, #loginLink, #navlink { color: grey; }

#link:hover, #link:focus {
    color: orange;
    text-decoration: none;
}

#registerLink:hover, #registerLink:focus, #loginLink:hover, #loginLink:focus, #navlink:hover, #navlink:focus {
    text-decoration: none;
    background-color: black;
    color: orange;
}

textarea .form-control {
    resize: vertical;
    height: 130px;
    transition: all 0.5s ease 0s;
}

#textarea, #SingleNachricht {
    border: 2px solid #ccc;
    min-height: 50px;
    height: 50px;
}

#SingleNachricht {
    max-width: 100% !important;
    min-width: 100% !important;
}

.form-control {
    height: 50px;
    font-size: 14px;
    color: white;
    border: none;
    background: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
}

#textareaEdit:focus, #textarea:focus, .form-control:focus, #SingleNachricht:focus {
    border-color: orange;
    box-shadow: none;
}

.control-label {
    font-size: 17px;
    color: orange;
    position: absolute;
    top: 5px;
    left: 27px;
    text-align: center;
}


.modal-content {
    background: none;
    border: 2px solid orange;
}



#postTime {
    background-color: orange;
    color: black;
}

.img-circle {
    height: 50px;
    width: 50px;
}

#bedarf {
    margin-top: 20px;
    box-shadow: none;
    border: 2px solid orange;
    background: black;
    opacity: 0.9;
}

#angebot {
    box-shadow: none;
    border: 2px solid orange;
    background: black;
    opacity: 0.9;
}

#angebotBedarfBody {
    padding: 0px 25px 5px;
} 

#mainBack {
    background: url('../resources/BackgroundMain.jpg') no-repeat center center fixed;
    background-size: cover;
}

#loginRegBack {
    background: url('../resources/BackgroundLoginRegister.jpg') no-repeat center center fixed;
    background-size: cover;
}

#profileBack {
    background: url('../resources/BackgroundProfile.jpg') no-repeat center center fixed;
    background-size: cover;
}

#chatBack {
    background: url('../resources/BackgroundChat.jpg') no-repeat center center fixed;
    background-size: cover;
}

#logregText { color: lightgray; }

#myList {
    border: none;
    background: none;
}

#myListObj {
    border: none;
    background: none;
    border-bottom: 2px solid orange;
}

input[type="file"] {
    color: orange;    
}
