#menuBar{
    border-bottom: 3px solid;
    border-color: orange;
    background-color: black;
}

#mybox {
    margin-top: 50px;
    background: none;
    border: 2px solid orange;
}
#footerBox {
    background: none;
    border-top: 2px solid orange;
}
#innerbox {
    background: none;
    border: none;
}

#boxHead {
    background: none;
    border-bottom: 2px solid orange;
    color: orange
}

#boxForm {
    padding-top: 5px;
    background: none;
    color: orange;
}
#boxbody {
    background: none;
}
#descriptionText {
    color: white !important;
}

#loginButton {
    color: orange;
    background: none;
    border: 2px solid orange;
}
    #loginButton:hover {
        box-shadow: 0px 0px 3px 3px orange;
    }


#bewerbButton {
    color: orange;
    background: none;
    border: 2px solid orange;
    height: 50px;    
}
    #bewerbButton:hover {
        box-shadow: 0px 0px 3px 3px orange;
    }

#editButton {
    color: orange;
    background: none;
    border: 2px solid orange;
}
    #editButton:hover {
        box-shadow: 0px 0px 3px 3px orange;
    }
    
#delButton {
        color: red;
        background: none;
        border: 2px solid red;
}

    #delButton:hover {
        box-shadow: 0px 0px 3px 3px red;
    }

#profileImg{
    width: 100px;
    height: 100px;
    padding: 5px 5px 5px 5px;
}
.glyphicon glyphicon-off {
    color: orange;
}
#angebotButton {
    color: orange;
    background: none;
    border-color: orange
}

#usrName {
    padding: 5px 5px 5px 5px;
}
.fa fa-reply {
    color: orange;
    background: none;
    border-color: orange
}

#chatHim {
    border: solid;
    border-color: aqua;
    background-color: aquamarine;
}

#chatMe {
    border: solid;
    border-color: lawngreen;
    background-color: greenyellow;
}

#chatList {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .chat li {
        margin-bottom: 10px;
        padding-bottom: 5px;
    }

        .chat li.left .chat-body {
            margin-left: 60px;
        }


        .chat li.right .chat-body {
            margin-right: 60px;
        }



        .chat li .chat-body p {
            margin: 0;
            color: #777777;
        }

    .modal .slidedown .glyphicon, .chat .glyphicon {
        margin-right: 5px;
    }

#scrollBody {
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


.form-group .form-control {
    width: 100%;
    max-width: none !important;
}

#chatList {
    color: orange;
}
    #chatList:hover {
        text-decoration: none;
        box-shadow: 0px 0px 3px 3px orange;
    }

#titleLink {
    color:orange;
}
    #titleLink:hover, #titleLink:focus {
        text-decoration: none;
        color: darkorange;
    }
#link, #registerLink, #loginLink, #navlink {
    color: grey;
}
    #link:hover {
        color: orange;
        text-decoration: none;
    }
    #registerLink:hover, #registerLink:focus, #loginLink:hover, #loginLink:focus, #navlink:hover, #navlink:focus {
        text-decoration: none;
        background-color: black;
        color: orange;
        box-shadow: 0px 3px 0px 0px orange;
    }


#SingleNachricht {
    max-width: 100% !important;
    min-width: 100% !important;
}

.form-control {
    height: 50px;
    font-size: 14px;
    color: white;
    border: none;
    background: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
}

    #textareaEdit:focus, #textarea:focus, .form-control:focus {
        border-color: orange;
        box-shadow: none;
    }

.control-label {
    font-size: 17px;
    color: orange;
    position: absolute;
    top: 5px;
    left: 27px;
    text-align: center;
}
textarea.form-control {
    resize: vertical;
    height: 130px;
    transition: all 0.5s ease 0s;
}

.modal-content {
    background: none;
    border: 2px solid orange;
}

#textarea, #SingleNachricht {
    border: 2px solid #ccc;
    min-height: 50px;
    height: 50px;
}

#postTime{
    background-color: orange;
    color: black;
}
.img-circle{
    height: 50px;
    width: 50px;
}

#bedarf {
    margin-top: 20px;
    background: none;
    box-shadow: none;
    border: 2px solid orange;
}
body {
    background: url('../resources/male-fitness-models  liquid ketone drops.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}